<div class="container">
  <div class="row welcome-page">
    <div class="col-md-6">
      <h1 class="welcome-header">Log in</h1>
    </div>
    <div class="col-md-6" class="half-width">
      <form name="login" ng-submit="auth.login()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input ng-model="auth.user.email" type="email" class="form-control custom-input" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="auth.user.password" type="password" class="form-control custom-input" id="password" placeholder="Password">
        </div>
        <input class="custom-button center-block" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
