<div class="container">
  <div class="row welcome-page">
    <div class="col-md-6">
      <h1 class="welcome-header">Register</h1>
    </div>
    <div class="col-md-6" class="half-width">
      <form name="register" ng-submit="auth.register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input ng-model="auth.user.name" type="text" class="form-control custom-input" id="name" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input ng-model="auth.user.email" type="email" class="form-control custom-input" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="auth.user.password" type="password" class="form-control custom-input" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password">Confirm password</label>
          <input type="password" class="form-control custom-input" compare-to="auth.user.password" placeholder="Confirm Password" name="pwdConfirm" ng-model="pwdConfirm" />
          <!-- <span ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Passwords do not match</span> -->
        </div>
        <input class="custom-button center-block" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
